################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpLatestFeatures/.vs/CSharpLatestFeatures/v16/.suo
