################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpLatestFeatures/.vs/CSharpLatestFeatures/v16/.suo
/CSharpLatestFeatures/bin/Debug/netcoreapp3.1
/CSharpLatestFeatures/obj
/CSharpLatestFeatures/TestApp/obj/Debug
/CSharpLatestFeatures/TestApp/bin/Debug
/TestApp/bin/Debug
/TestApp/obj
/CSharpLatestFeatures/bin/